In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
from datetime import datetime

from sklearn import preprocessing
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Normalizer

from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import GridSearchCV
from sklearn.inspection import plot_partial_dependence

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Normalization
from tensorflow.keras import regularizers
import tensorflow.keras as keras
from keras.callbacks import ModelCheckpoint
from tensorflow.keras import regularizers

import plotly.express as px
import pickle

In [3]:
picklefile = open('df_ByRegion.pkl', 'rb')
#unpickle the dataframe
df = pickle.load(picklefile)
#close file
picklefile.close()

In [4]:
df.head()

,fire_size,fire_size_class,latitude,longitude,state,disc_clean_date,discovery_month,disc_date_pre,disc_pre_year,disc_pre_month,...,Cause_Equipment Use,Cause_Fireworks,Cause_Lightning,Cause_Miscellaneous,Cause_Missing/Undefined,Cause_Powerline,Cause_Railroad,Cause_Smoking,Cause_Structure,Region
1,3.0,B,35.03833,-87.61000,TN,2006-12-11,Dec,11/11/2006,2006,Nov,...,0,0,0,0,0,0,0,0,0,8
3,1.0,B,39.64140,-119.30830,NV,2005-06-06,Jun,5/7/2005,2005,May,...,0,0,0,0,0,0,0,0,0,4
7,1.0,B,30.90472,-93.55750,TX,2005-11-12,Nov,10/13/2005,2005,Oct,...,0,0,0,0,0,0,0,0,0,8
8,1.0,B,35.90031,-92.06118,AR,2007-08-08,Aug,7/9/2007,2007,Jul,...,0,0,0,0,0,0,0,0,0,8
9,1.0,B,48.83940,-99.71850,ND,2004-04-19,Apr,3/20/2004,2004,Mar,...,0,0,0,1,0,0,0,0,0,1

In [5]:
def getDF():
    #main
    picklefile = open('df_ByRegion.pkl', 'rb')
    df = pickle.load(picklefile)
    picklefile.close()
    
    #get all regions
    dfRegionList=[]
    for i in range(1,11):
        if(i!=7):
            print(f"Grabbing region {i} dataframe...")
            picklefile = open(f'df_r{i}.pkl', 'rb')
            dfRegion = pickle.load(picklefile)
            dfRegionList.append(dfRegion)
            picklefile.close()
    return df, dfRegionList
df,dfRegionList = getDF()
df_r1 = dfRegionList[0]
df_r2 = dfRegionList[1]
df_r3 = dfRegionList[2]
df_r4 = dfRegionList[3]
df_r5 = dfRegionList[4]
df_r6 = dfRegionList[5]
df_r8 = dfRegionList[6]
df_r9 = dfRegionList[7]
df_r10 = dfRegionList[8]
print("Setting up Notebook")
print("Total df size: " , df.size   )
for df in dfRegionList:
    print("Size of region df: " , df.size   )

Grabbing region 1 dataframe...
Grabbing region 2 dataframe...
Grabbing region 3 dataframe...
Grabbing region 4 dataframe...
Grabbing region 5 dataframe...
Grabbing region 6 dataframe...
Grabbing region 8 dataframe...
Grabbing region 9 dataframe...
Grabbing region 10 dataframe...
Total df size:  1019952
Size of region df:  26406
Size of region df:  42444
Size of region df:  26676
Size of region df:  27000
Size of region df:  84186
Size of region df:  22410
Size of region df:  616302
Size of region df:  155412
Size of region df:  3348